body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.mobile-menu {
    display: none;
}

.menu-item {
    color: #fff;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 500;
    font-size: .75rem;
}

.menu-item svg {
    margin-bottom: 10px;
    width: 24px;
    height: 24px;
}

.menu-item:hover,
.menu-item.active {
    background-color: #555;
}

@media only screen and (max-width: 600px) {
    .mobile-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #252533;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 10px 0;
    }
}











.menu-item svg {
    margin-bottom: 6px; /* Ajusta el margen según tus preferencias */
    width: 23px; /* Ajusta el ancho según tus preferencias */
    height: 24px; /* Ajusta la altura según tus preferencias */
    background-color: #252533; /* Establece el fondo del SVG */
    
}






.mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252533;
    padding: 10px;
}

button {
    position: relative;
    background: linear-gradient(135deg, #F95579, #EF1246, #CF043E);
    border-radius: 5px;
    box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 140px;
    height: 35px;
    color: #fff;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 1000;
    font-size: .90rem;
    
  }
  
  button::before {
    content: "";
    background: linear-gradient(135deg, #F95579, #EF1246, #CF043E);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
  }
  
  button:hover::before {
    width: 100%;
  }


@media only screen and (max-width: 600px) {
    .nav-buttons {
        display: none;
    }

    .mobile-navbar {
        justify-content: flex-end;
    }

    .nav-icon {
        order: -1;
    }
}





























.pic-ctn {
    position: relative;
    width: 100vw;
    height: 100vw; /* Haz que la altura sea igual al ancho para que la imagen ocupe el 100% de la pantalla */
    overflow: hidden; /* Para ocultar cualquier desbordamiento de la imagen */
}

@keyframes display {
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-100%);
    }
    75% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.pic-ctn > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Haz que la imagen ocupe el 100% del contenedor */
    height: 100%; /* Ajusta la altura si es necesario */
    animation: display 15s infinite; /* Ajusta la duración a 15s */
}

img:nth-child(2) {
    animation-delay: 5s; /* Ajusta los retrasos para cada imagen */
}
