body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.mobile-menu {
    display: none; /* Inicialmente oculto en pantallas más grandes */
}

.menu-item {
    color: #fff;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 500;
    font-size: .75rem;
}

.menu-item svg {
    margin-bottom: 10px; /* Ajusta el margen según tus preferencias */
    width: 24px; /* Ajusta el ancho según tus preferencias */
    height: 24px; /* Ajusta la altura según tus preferencias */
}

.menu-item:hover {
    background-color: #555;
}

@media only screen and (max-width: 600px) {
    .mobile-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #252533;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 10px 0;
    }
}
