body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.mobile-menu {
    display: none;
}

.menu-item {
    color: #fff;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 500;
    font-size: .75rem;
}

.menu-item svg {
    margin-bottom: 10px;
    width: 24px;
    height: 24px;
}

.menu-item:hover,
.menu-item.active {
    background-color: #555;
}

@media only screen and (max-width: 600px) {
    .mobile-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #252533;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 10px 0;
    }
}











.menu-item svg {
    margin-bottom: 6px; /* Ajusta el margen según tus preferencias */
    width: 23px; /* Ajusta el ancho según tus preferencias */
    height: 24px; /* Ajusta la altura según tus preferencias */
    background-color: #252533; /* Establece el fondo del SVG */
    
}







.mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252533;
    padding: 10px;
}

.nav-icon ion-icon {
    color: #fff;
    font-size: 24px;
}

.nav-button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.blue {
    background-color: #007bff;
}

.red {
    background-color: #dc3545;
}